<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Select an Action</h1>
    <div class="button-container">
        <a href="{{ url_for('click') }}" class="button" style="padding: 15px 30px; font-size: 18px; ">Click</a>
        <a href="{{ url_for('drag') }}" class="button" style="padding: 15px 30px; font-size: 18px; ">Drag</a>
        <a href="{{ url_for('swipe') }}" class="button" style="padding: 15px 30px; font-size: 18px; ">Swipe</a>
        <a href="{{ url_for('two_finger_swipe') }}" class="button" style="padding: 15px 30px; font-size: 18px; ">Two-Finger <br> Swipe</a>
    </div>
    <a href="{{ url_for('list_results') }}" class="button" style="padding: 15px 30px; font-size: 18px; ">View Results</a>
</body>
</html>
